* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    background-color: #2a73cb;
    line-height: 50px;
    color: white;
    padding-left: 20px;
    box-shadow: 0px 8px 18px -6px rgba(0, 0, 0, 0.75);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.login-box, .signup-box, .shopping-box {
    margin: 50px 400px 10px 50px;
    padding: 20px;
    background-color: #2a73cb;
    font-weight: bold;
    box-shadow: 8px 8px 18px -6px rgba(0, 0, 0, 0.75);
    color: white;
}

.pageheader {
    padding: 20px;
    background-color: #2a73cb;
    font-weight: bold;
    color: white;
    width: 100%;
    font-size: 1.3rem;
}

#addressBox {
    margin: 50px auto 10px 50px;
    padding: 20px;
    background-color: #2a73cb;
    font-weight: bold;
    box-shadow: 8px 8px 18px -6px rgba(0, 0, 0, 0.75);
    color: white;
}

#addressBox span {
    display: inline-block;
    margin: 5px;
    width: 250px;
    height: 30px;
}

#addressBox input {
    height: 35px;
}

#addressBox h3 {
    margin-bottom: 20px;
}

.remove-box {
    margin: 50px 500px 10px 50px;
    padding: 20px;
    background-color: #2a73cb;
    font-weight: bold;
    box-shadow: 8px 8px 18px -6px rgba(0, 0, 0, 0.75);
    color: white;
}

.login-box label, input[type="text"], input[type="password"] {
    margin: 10px;
    width: 200px;
    height: 25px;
}

.login-box input[type="submit"] {
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.25);
}

.login-box input[type="submit"]:hover {
    box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.75);
    background-color: blanchedalmond;
}

.login-box span {
    margin: 10px 10px 20px 10px;
    font-weight: bold;
}

.signup-box label, input[type="text"], input[type="password"], input[type="email"] {
    margin: 10px;
    width: 300px;
    height: 25px;
}

.signup-box input[type="submit"] {
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.25);
}

.signup-box input[type="radio"] {
    margin: 10px 10px 20px 10px;
}

.signup-box input[type="submit"]:hover {
    box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.75);
    background-color: blanchedalmond;
}

.signup-box span {
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.shopping-box span {
    margin: 10px 10px 20px 10px;
    font-weight: bold;
}

.addToCartBtn {
    background: #2A73CB;
    background-image: -webkit-linear-gradient(top, #2A73CB, #6fb0d9);
    background-image: -moz-linear-gradient(top, #2A73CB, #6fb0d9);
    background-image: -ms-linear-gradient(top, #2A73CB, #6fb0d9);
    background-image: -o-linear-gradient(top, #2A73CB, #6fb0d9);
    background-image: linear-gradient(to bottom, #2A73CB, #6fb0d9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.addToCartBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
